<div>
  
<div>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div role="tablist" id="accordion-1">
                  <div class="card">
                      <div class="card-header" role="tab">
                          <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-1" href="div#accordion-1 .item-1">PERFIL</a></h5>
                      </div>
                      <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-1">
                          <div class="card-body">
                              <p class="card-text"></p>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" role="tab">
                          <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2" href="div#accordion-1 .item-2">TIERRAS</a></h5>
                      </div>
                      <div class="collapse item-2" role="tabpanel" data-parent="#accordion-1">
                          <div class="card-body">
                              <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" role="tab">
                          <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-3" href="div#accordion-1 .item-3">CONTRATOS</a></h5>
                      </div>
                      <div class="collapse item-3" role="tabpanel" data-parent="#accordion-1">
                          <div class="card-body">
                              <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" role="tab">
                          <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-4" href="div#accordion-1 .item-4">HISTORIAL</a></h5>
                      </div>
                      <div class="collapse item-4" role="tabpanel" data-parent="#accordion-1">
                          <div class="card-body">
                              <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" role="tab">
                          <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-5" href="div#accordion-1 .item-5">RECURSOS</a></h5>
                      </div>
                      <div class="collapse item-5" role="tabpanel" data-parent="#accordion-1">
                          <div class="card-body">
                              <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4" style="width:538px;">
              <h2>Agregar/Modificar Tierra</h2>
              <div><img></div>
              <div><small>Imagen de la tierra<i class="fa fa-folder-open"></i></small></div>
              <div>
                  <div>
                      <div><small>Titulo</small></div><input type="text">
                      <div><small>Area</small></div><input type="text">
                      <div><small>Tipo de cultivo</small></div>
                      <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color:rgb(255,255,255);color:rgb(0,0,0);">Dropdown </button>
                          <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                      </div>
                  </div>
                  <div><small>Precio</small>
                      <div><input type="text"></div><small>Calidadd de la tierra</small>
                      <div><input type="text"></div><small>Visibilidad</small>
                      <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color:rgb(255,255,255);color:rgb(0,0,0);">Dropdown </button>
                          <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col" style="height:379px;">
            <iframe allowfullscreen="" frameborder="0" width="100%" height="50%" src="https://www.google.com/maps/embed/v1/place?q=Paris%2C+France&amp;zoom=11"></iframe>
              <small >Referencias</small>
              <div ><textarea></textarea></div><button class="btn btn-primary" type="button" >Agregar/Modificar</button></div>
      </div>
  </div>
</div>
<script src="assets/js/jquery.min.js"></script>
