<div>
  
<div>
    <div class="row">
        <div class="col-md-2">
            <div role="tablist" id="accordion-1">
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-1" href="div#accordion-1 .item-1">PERFIL</a></h5>
                    </div>
                    <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body">
                            <p class="card-text"></p>
                        </div>
                    </div>
                  </div>
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2" href="div#accordion-1 .item-2">TIERRAS</a></h5>
                    </div>
                    <div class="collapse item-2" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body">
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-3" href="div#accordion-1 .item-3">CONTRATOS</a></h5>
                    </div>
                    <div class="collapse item-3" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body">
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-4" href="div#accordion-1 .item-4">HISTORIAL</a></h5>
                    </div>
                    <div class="collapse item-4" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body">
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-5" href="div#accordion-1 .item-5">RECURSOS</a></h5>
                    </div>
                    <div class="collapse item-5" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body">
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin menu -->
        <div class="col-md-5">
            <form #addTierraForm="ngForm" (ngSubmit)="addTierraForm.valid && onSubmit(addTierraForm)">
                <input type="text" name="idtierra" #idtierra="ngModel" [(ngModel)]="tierra._id" hidden>
                <h2 style="margin-bottom:10px;">Tierras</h2>
                <div class="container">
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-7">
                                <div>
                                    <h5 for="imagen">Imagen de la tierra*</h5> 
                                    <!-- <input class="form-control-sm" type="file" name="imagen" (change)="fileChangeEvent($event)" style="content:''">              -->
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="fileChangeEvent($event)" aria-describedby="inputGroupFileAddon01">
                                            <label class="custom-file-label" for="inputGroupFile01">Seleccionar archivo</label>
                                        </div>
                                        <label style="margin-top:10px; margin-left: 5px">{{fileName}}</label>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div><h5 for="titulo">Titulo</h5></div>
                                    <input class="form-control form-control-sm" type="text" name="titulo" #titulo="ngModel" [(ngModel)]="tierra.titulo" 
                                    style="width: 90%" required  [ngClass]="{'invalid-textbox':addTierraForm.submitted && !titulo.valid}">
                                    <div *ngIf="addTierraForm.submitted && !titulo.valid">
                                            <label class="validation-message">Campo título requerido.</label>
                                    </div>
                                </div>
                                <br>
                                <div class="col-md-6">
                                    <h5>Precio(MXN)</h5>
                                    <div>
                                        <input class="form-control formcontrol-sm" style="width:55%"  type="number" name="precio" #precio="ngModel" [(ngModel)]="tierra.precio"
                                        required [ngClass]="{'invalid-textbox' :addTierraForm.submitted && !precio.valid }">
                                    </div>
                                    <div *ngIf="addTierraForm.submitted && !precio.valid">
                                            <label class="validation-message">Campo precio requerido.</label>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div><h5>Área (m2)</h5></div>
                                    <input  class="form-control formcontrol-sm" style="width:50%" type="number" name="area" #area="ngModel" [(ngModel)]="tierra.area" min="1"
                                        required [ngClass]="{'invalid-textbox' :addTierraForm.submitted && !area.valid }">
                                    <div *ngIf="addTierraForm.submitted && !area.valid">
                                        <label class="validation-message">Campo área requerido.</label>
                                    </div>
                                </div>
                                <br>
                                <div class="col-md-6">
                                    <h5>Calidad de la tierra</h5>
                                    <div>
                                        <input class="form-control formcontrol-sm" style="width:200px"  type="text" name="calidad" #calidad="ngModel" [(ngModel)]="tierra.calidadtierra"
                                        required [ngClass]="{'invalid-textbox' :addTierraForm.submitted && !calidad.valid }">
                                    </div>
                                    <div *ngIf="addTierraForm.submitted && !calidad.valid">
                                            <label class="validation-message">Campo calidad requerido.</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Tipo de cultivo</h5>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color:rgb(255,255,255);color:rgb(0,0,0);" *ngIf="!tierra.tipocultivo">Seleccionar</button>
                                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color:rgb(255,255,255);color:rgb(0,0,0);" *ngIf="tierra.tipocultivo">{{tierra.tipocultivo}}</button>
                                        <div class="dropdown-menu" role="menu">
                                            <a class="dropdown-item" role="presentation" id="{{cultivo.tipo}}"  required [ngClass]="{'invalid-textbox' :addTierraForm.submitted && !tipocultivo.valid }"
                                            name="tipocultivo"  *ngFor="let cultivo of tipocultivo" (click)="setTipoCultivo($event)">{{cultivo.tipo}}</a>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="col-md-6">
                                    <h5>Visibilidad</h5>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color:rgb(255,255,255);color:rgb(0,0,0);" *ngIf="!tierra.visibilidad">Seleccionar</button>
                                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="background-color:rgb(255,255,255);color:rgb(0,0,0);" *ngIf="tierra.visibilidad">{{tierra.visibilidad}}</button>         
                                        <div class="dropdown-menu" role="menu">
                                            <a class="dropdown-item" role="presentation" name="visibilidad"  required [ngClass]="{'invalid-textbox' :addTierraForm.submitted && !visibilidad.valid }" *ngFor="let visibilidad of visibilidad" (click)="setVisibilidad($event)">{{visibilidad.tipo}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div>
                                        <h5>Ubicacion</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Estado</h5>
                                    <select class="form-control" name="estado" #estado="ngModel" [(ngModel)]="tierra.estado" required  [ngClass]="{'invalid-textbox':addTierraForm.submitted && !estado.valid}">
                                        <option [value]="state.Lugar" *ngFor="let state of estados">{{state.Lugar}}</option>
                                    </select >
                                    <div *ngIf="addTierraForm.submitted && !estado.valid">
                                            <label class="validation-message">Campo estado requerido.</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div><h5 for="titulo">Ciudad</h5></div>
                                    <input class="form-control form-control-sm" type="text" name="ciudad" #ciudad="ngModel" [(ngModel)]="tierra.ciudad" 
                                    style="width: 200px" required  [ngClass]="{'invalid-textbox':addTierraForm.submitted && !titulo.valid}">
                                    <div *ngIf="addTierraForm.submitted && !ciudad.valid">
                                            <label class="validation-message">Campo ciudad requerido.</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row" *ngIf="modificado">
                                    <div class="col-md-5">
                                        <h5>Promoción</h5>
                                        <input class="form-control formcontrol-sm" style="width:100px"  type="number" name="promocion" #promocion="ngModel" [(ngModel)]="tierra.promocion"
                                        required [ngClass]="{'invalid-textbox' :addTierraForm.submitted}" min="1" max="100" placeholder="1-100%">
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Status</h5>
                                        <select class="form-control" name="status" #status="ngModel" [(ngModel)]="tierra.status" required  [ngClass]="{'invalid-textbox':addTierraForm.submitted && !status.valid}">
                                            <option value ="Activo">Activo</option>
                                            <option value ="Inactivo">Inactivo</option>
                                        </select>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Descripción</h5>
                                    <div>
                                        <textarea class="form-control formcontrol-sm" rows="3" style="width: 300px; height: 100px; resize: none;" name="descripcion"
                                        required [ngClass]="{'invalid-textbox' :addTierraForm.submitted && !descripcion.valid }" #descripcion="ngModel" [(ngModel)]="tierra.descripcion"></textarea>
                                    </div>
                                    <div *ngIf="addTierraForm.submitted && !descripcion.valid">
                                            <label class="validation-message">Campo descripcion requerido.</label>
                                    </div>
                                    <br>
                                    <div class="success" *ngIf="showSucessMessage">
                                        Se ha registrado correctamente
                                    </div>
                                          
                                          <!-- Error message -->
                                    <div class="alert" *ngIf="serverErrorMessages">
                                        {{serverErrorMessages}}
                                    </div>
                                    <button *ngIf="!modificado" class="btn btn-primary" type="submit" value="registrar">Agregar Tierra</button>
                                    <button style="margin-left: 30px" *ngIf="!modificado" type="button" (click)="resetForm(addTierraForm)" class="btn btn-danger">Limpiar</button>
                                    <button *ngIf="modificado" class="btn btn-primary" type="submit" value="registrar">Modificar Tierra</button>
                                    <button *ngIf="modificado" style="margin-left: 15px" class="btn btn-danger" (click)="cancelmodify()" value="cancelar">Cancelar</button>
                                </div>
                            </div>

                            </div>
                        </div>
                        
                    
                    </div>      
                    </div>          
                </form>
        </div>
        <div class="col-md-5">
            <h3 style="margin-top: 70px">Tus tierras</h3>
            <div class="table-responsive">   
                <table class="table table-bordered">
                    <thead>
                        <tr>
                        <th scope="col">Titulo</th>
                        <th scope="col">Área(m2)</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody > <!-- condición si no hay recursos-->
                        <tr *ngFor="let mitierra of miTierra"> <!--Ciclo para recursos ngfor-->
                        <th scope="row">{{mitierra.titulo}}</th>
                        <td>{{mitierra.area}}</td>
                        <td>{{mitierra.precio}}</td>
                        <td>{{mitierra.ciudad}}</td>
                        <td><button  class="btn btn-primary" (click)="editarT(mitierra)"><i class="far fa-edit"></i></button></td>
                        <td><button  class="btn btn-danger"><i class="far fa-edit"></i></button></td>
                        </tr>            
                    </tbody>
                </table>                    
                </div>
            <div class="row" *ngIf="modificado">
                <div class="col-md-6">
                    <br>

                </div>
            </div>
        </div>
        
        
    </div>
</div>
<br>
<br>
<script src="assets/js/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="js/umd/popper.min.js" type="text/javascript"></script>