<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Proyecto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/masvendido">Lo más vendido <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/promociones" href="#">Promociones</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Ayuda</a>
        </li>
      <!-- <li ngbDropdown  class="nav-item dropdown" >
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Categorías
          </a>
          <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">categoría 1</a>
            <a class="dropdown-item" href="#">categoría 2</a>

          </div>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search" #buscarInput>
        <button class="ml-1 btn btn-md btn-outline-primary" routerLink="/search" (click)="buscar(buscarInput)" type="submit"><i class="fa fa-search"></i></button>
    </form>
    <hr *ngIf="!loggeado">
    <a [routerLink]="['/cuenta']" *ngIf="loggeado" class="btn btn-light ml-1 mr-1"><i class="fas fa-user"></i></a>
    <button (click)="login()" *ngIf="!loggeado" class="btn btn-md btn-success">Login</button>
    <button  (click)="logout()" *ngIf="loggeado" class="btn btn-md btn-danger">Salir</button>
  </div>
</nav>
