<div>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <div role="tablist" id="accordion-1">
                  <div class="card">
                      <div class="card-header" role="tab">
                          <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-1" href="div#accordion-1 .item-1">PERFIL</a></h5>
                      </div>
                      <div class="collapse show item-1" role="tabpanel" data-parent="#accordion-1">
                          <div class="card-body">
                              <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" role="tab">
                          <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-2" href="div#accordion-1 .item-2">TIEMPOS</a></h5>
                      </div>
                      <div class="collapse item-2" role="tabpanel" data-parent="#accordion-1">
                          <div class="card-body">
                              <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" role="tab">
                          <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-3" href="div#accordion-1 .item-3">CONTRATOS</a></h5>
                      </div>
                      <div class="collapse item-3" role="tabpanel" data-parent="#accordion-1">
                          <div class="card-body">
                              <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" role="tab">
                          <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-4" href="div#accordion-1 .item-4">HISTORIAL</a></h5>
                      </div>
                      <div class="collapse item-4" role="tabpanel" data-parent="#accordion-1">
                          <div class="card-body">
                              <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" role="tab">
                          <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-5" href="div#accordion-1 .item-5">RECURSOS</a></h5>
                      </div>
                      <div class="collapse item-5" role="tabpanel" data-parent="#accordion-1">
                          <div class="card-body">
                              <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4"><img>
              <div>
                  <h1 style="font-size:30px;">Titulo de tierra<i class="fa fa-file-text float-left"></i></h1>
              </div>
              <div><textarea></textarea></div>
          </div>
          <div class="col-md-4">
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Fecha inicio</th>
                              <th>01/11/2018</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Cell 1</td>
                              <td>Cell 2</td>
                          </tr>
                          <tr>
                              <td>Cell 3</td>
                              <td>Cell 4</td>
                          </tr>
                      </tbody>
                  </table>
              </div><iframe allowfullscreen="" frameborder="0" width="100%" height="400" src="https://www.google.com/maps/embed/v1/place?q=Paris%2C+France&amp;zoom=11"></iframe></div>
      </div>
  </div>
  <div>
      <h1>Gastos</h1>
      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>Producto</th>
                      <th>Cantidad</th>
                      <th>Costo unitario</th>
                      <th>total</th>
                      <th>fecha gasto</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Cell 1</td>
                      <td>Cell 2</td>
                  </tr>
                  <tr>
                      <td>Cell 3</td>
                      <td>Cell 4</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>