<head>
</head>
<body style="padding-right: 0px; padding-left: 0px;">
  <h2 style="margin-left:30px;">Promociones</h2>
  <div style="margin-top:20px;" class="row">
    <div id = "arriba" class = "col col-sm-3 col-md-3 col-lg-3">
      <h4 style="margin-left:30px;">Filtros</h4>
      <div style="padding-left: 30px; padding-right: 30px;">
        <div style="border-style: solid; border-width: 3px; border-color: black;">
          <div class="form-group" style="padding:20px">
            <h4>Ubicación</h4>
            <div class="form-check">
              <div *ngFor="let ubicacion of ubicaciones">
                <label class="form-check-label">
                  <input id="{{ubicacion.Lugar}}" class="form-check-input" type="checkbox">
                  {{ubicacion.Lugar}}
                </label>
                <br>
              </div>
            </div>
            <hr>
            <h4>Cultivo</h4>
            <div class="form-check">
              <div *ngFor="let cultivo of cultivos">
                <label class="form-check-label">
                  <input id="{{cultivo.nombre}}" class="form-check-input" type="checkbox">
                  {{cultivo.nombre}}
                </label>
                <br>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div id = "arriba" class = "col col-sm-9 col-md-9 col-lg-9">
        <h4 style="margin-left:15px;">Ordenar por</h4>
        <div class="row">
            <div class="col-6" style="margin-left:30px;">
              <h5>Precio</h5>
              <div class="form-check">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="RBMame" value="option1" checked>
                  De mayor a menor
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="RBMema" value="option2">
                  De menor a mayor
                </label>
              </div>
            </div>
            <div class="col-5" style="margin-left:30px;">
              <h5>Área</h5>
              <div class="form-check">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios2" id="RBMame2" value="option3" checked>
                  De mayor a menor (m2)
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios2" id="RBMema2" value="option4">
                  De menor a mayor (m2)
                </label>
              </div>
            </div>
         
      <br>
      <div style="padding-left: 30px; padding-right: 30px; margin-top:10px;">
        <div style="border-style: solid; border-width: 3px; border-color: black; padding: 30px">
          <!--AQUI INICIAN LOS ELEMENTOS DE BÚSQUEDA-->
          <div *ngFor="let tierra of tierras">
              <div class="row" style="padding: 30px">
                  <img class="col col-sm-12 col-md-4 col-lg-4" src="{{url+'getFotoTierra/'+tierra.imagen}}" width="200px" height="200px">
                  <div class="col col-sm-12 col-md-3 col-lg-3">
                    <h4>{{tierra.titulo}}</h4>
                    <h4>{{tierra.area}}m2</h4>
                    <br>
                    <h4 style="text-decoration: line-through black; color: red">${{tierra.precio}}</h4>
                    <h4>${{tierra.precio-(tierra.precio*(tierra.promocion/100))}}</h4>
                    <h4>{{tierra.ubicacion}}</h4>
                  </div>
                  <div class="col col-sm-12 col-md-3 col-lg-3">
                    <h4>Descripción: </h4>
                    <p align="justify">{{tierra.descripcion}}</p>
                  </div>
                  <div class="col-2">
                    <a href=""><h4 style="margin-top: 55px;">Más ></h4></a>
                  </div>
                </div>
                <hr>
          </div>
          <!--AQUI TERMINAN LOS ELEMENTOS DE BÚSQUEDA-->
        </div>
      </div>
    </div>
    </div>

  </div>
  <br>
  <br>
</body>